.personne-list {
    list-style-type: none;
    padding: 0;
  }
  
  .personne-item {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
  }
  
  .personne-details {
    margin-top: 5px;
  }
  
  .emploi-list {
    list-style-type: square;
    margin: 0;
    padding-left: 20px;
  }