
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gestion-Personnes </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/personnes">Listes-Personnes <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ajout-personne">Ajouter une Personne</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/ajoutemploi">Ajouter un Emploi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rechercheparentreprise">Recherche Personne par entreprise</a>
      </li>
      <!-- Ajouter d'autres liens au besoin -->
    </ul>
  </div>
</nav>